<div class="div-margin">
  <div style="text-align: center; padding: 20px">
    <button class="btn btn-primary" routerLink="/addSponsor">Add Sponsor</button>
  </div>
<div class="container marketing">

  <div class="row">
    <div class="col-lg-4" *ngFor="let sponsor of sponsors">
      <div class="bg-trns">
        <a [routerLink]="['/sponsor', sponsor.id]">
        <img class="rounded-circle" *ngIf="sponsor" [src]="sponsor.imgPath"
             alt="Generic placeholder image" width="140" height="140">
        </a>
        <h2 style="color: #107050">{{sponsor.name}}</h2>
        <button class="btn btn-outline-primary" [routerLink]="['/editSponsor', sponsor.id]">Edit &raquo;</button>
      </div>
    </div>
  </div>
</div>
</div>
