
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Donation !</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank you for donating your time to people in need.</p>
    <p>Please confirm your donation to this project</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="modal.close('Close click')" routerLink="/projects">Confirm</button>
  </div>
</ng-template>

<div style="text-align: center;">
  <div style="padding: 20px">
  <button class="btn btn-light" id="play" (click)="playVid()" type="button">Play Video</button>
  </div>
<video id="myVideo" width="800">
  <source *ngIf="video" [src]="video.link" type="video/mp4">
</video>
</div>
<div style="padding: 50px">
<p *ngIf="barValue<100"><ngb-progressbar id="myBar" type="success" [value]="barValue" [striped]="true" [animated]="true"><i>{{barValue}} %</i></ngb-progressbar></p>
<div style="text-align: center">
  <button class="btn btn-success" *ngIf="barValue==100" (click)="openVerticallyCentered(content)">Confirm Donation !</button>
</div>
</div>

