<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure you want to add this association ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Association Name : {{association.name}}</p>
    <p>Association Image : {{association.imgPath}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="modal.close('Close click'); onSubmit()" routerLink="/associations">Confirm</button>
  </div>
</ng-template>

<div class="col-4 ">
  <form (ngSubmit)="openVerticallyCentered(content)">
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input id="name" type="text" [(ngModel)]="association.name" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="image">
        Image
      </label>
      <input id="image" type="text" [(ngModel)]="association.imgPath" name="image" class="form-control">
    </div>

    <p>
      <button class="btn btn-primary btn-block" type="submit">Save</button>
    </p>
  </form>
</div>
